
.logos{
    width: 600px;
    display: block;
    justify-content: space-around;
}

.logos_img{
    display: inline-block;
    font-size: inherit;
    padding: 20px;
    margin-right: 80px;
    width: 140px;
    height: 140px;
}

@media screen and (max-width: 600px) {
    .logos{
        width: 100px;
        display: block;
        justify-content: space-around;
    }

    .logos_img{
        padding: 10px;
        margin-right: 80px;
        width: 2.8rem;
        height: 2.8rem;
    }
}